{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <noscript><strong>L'utilizzo di questa Web API necessita di JavaScript</strong><br>JavaScript risulta disabilitiato o non compateibile con il tuo Browser</noscript>
    <div id="app">

    </div>
    {% render_bundle 'app' %}
</body>
</html>